@import '../../../vars.scss';

.glass__brand {
  position: absolute;
  border-radius: 23px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  margin: auto;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: -1;
  background: rgba(44, 53, 61, 0.2);
}

.glass__brand--light {
  position: absolute;
  background: rgba(255, 72, 66, 0.4);
  filter: blur(50px);
  width: 159px;
  height: 159px;
  border-radius: 50%;
  top: -86px;
  left: -84px;
}

.glass__brand--border {
  position: absolute;
  margin: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: linear-gradient(92.39deg, rgba(255, 255, 255, 0.05) -4.6%, rgba(255, 255, 255, 0) 96.79%);
  z-index: -5;
  backdrop-filter: blur(25px);
}

.conteiner__brand {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  &--offset {
    @extend .conteiner__brand;
    margin-top: 200px;
  }
}

.text__title--brand {
  font-size: 24px;
  line-height: 36px;
  color: $textTileMutedColor;
  text-align: center;
  padding-top: 55px;
}

.conteiner__flex-row {
  &--brand-offset {
    column-gap: 107px;
    padding-top: 55px;
    padding-bottom: 55px;
    justify-content: center;
  }
  &--brand-gap {
    column-gap: 107px;
  }
}
