
//colors
$activeColor: #ff6e30;
$textColor: rgba(255, 255, 255, 0.9);
$textTileMutedColor: rgba(255, 255, 255, 0.78);
$textMutedColor: rgba(255, 255, 255, 0.55);
$inputMutedColor: rgba(255, 255, 255, 0.38);
$inputFooterBorder: rgba(255, 255, 255, 0.15);
$infoColor: #ffa537;
$inputColor: #283036;
$mainBackColor: #1e252b;
$blockBackColor: #283036;
